* {
    box-sizing: border-box;
    background-color: #ff9900;
    color: white;
}

#container {
    display: inline-block;
    width: 50%;
    height: 80%;
    background-color: marine;
    color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#header {
    
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 200%;
    font-weight: 100;
}

#errorLine {
    
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 100%;
    font-weight: 100;
}

#footer {
    color: red;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 75%;
    font-weight: 300;
}

.button {
    float: left;
    color: red;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    font-weight: 700;
}

.inputfile+label {
    cursor: pointer;
    background-color: #fff;
    color: #ff9900;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#uploadButton {
    background-color: #fff;
    color: #ff9900;
    cursor: pointer;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 766px) 
and (orientation : portrait)  {
    body {
        background: #ff9900;
    }
    #container {
        width: 80%;
        
    }
    
    #header {
        height: 10%;
        font-size: 150%;
        font-weight: 300;
    }
    
    .button {
        font-weight: 700;
        font-size: 15vw;
        height: 22%;
        width: 100%;
    }
    #error {
        font-size: 200%;
        font-weight: 100;
        height: 20%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
    body {
        background: #ff9900;
    }
    #container {
        width: 75%;
    }
    #header {
        font-size: 150%;
        font-weight: 100
    }
    .button {
        font-size: 7vw;
        font-weight: 700;
        height: 45%;
    }
    #error {
        font-size: 75%;
        font-weight: 300;
        height: 20%;
    }
    #footer {
        font-size: 50%;
        font-weight: 300;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 768px) {
    body {
        background: #ff9900;
    }
    #container {
        width: 60%;
    }
    #header {
        font-size: 250%;
        font-weight: 100
    }
    .button {
        font-size: 5vw;
        font-weight: 700;
    }
}

@media only screen and (max-width: 3840px) and (min-width: 1051px) {
    body {
        background: #ff9900;
    }
       #container {
        width: 50%;
    }
        .button {
        font-size: 4vw;
        font-weight: 700;
    }
}
